{% extends "base.html" %}

{% block content %}
<body>
    <table style="width:75%" border = 2>
        <tr>
        <th>Book Name</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Edition</th>
        <th>Issue Date</th>
        </tr>

        {% for book in book_data %}
        <tr>
            <td> {{book.name | length | add:'3' }}</td>
            <td> {{book.author}}</td>
            <td> {{book.publisher}}</td>
            <td> {{book.edition}}</td>
            <td> {{book.issue_date}}</td>
        </tr>
        {% endfor %}

    </table>
</body>
{% endblock %}